/* variables for padding property */
$padding-none: 0rem;
$padding-xs: 0.25rem;  // 4px / 16px
$padding-sm: 0.5rem;   // 8px / 16px
$padding-md: 1rem;     // 16px / 16px
$padding-lg: 2rem;     // 32px / 16px
$padding-xl: 3rem;     // 48px / 16px
$padding-xxl: 4rem;    // 64px / 16px

/* variables for margin property */
$margin-none: 0rem;
$margin-xs: 0.25rem;   // 4px / 16px
$margin-sm: 0.5rem;    // 8px / 16px
$margin-md: 1rem;      // 16px / 16px
$margin-lg: 2rem;      // 32px / 16px
$margin-xl: 3rem;      // 48px / 16px
$margin-xxl: 4rem;     // 64px / 16px
