// Define breakpoints as variables

$x-small: 475px;
$small: 767px;
$medium: 992px;
$large: 1054px;
$medium-large:1200px;

@import "./color";
@import "./fonts";
@import "./mixins.scss";
@import "./spacing.scss";
@import "./radius.scss";
@import './global.scss';
@import './multiSelect.scss';
@import './grid';
@import './cards.scss';
@import './buttons';
@import './inputs';
@import './badges';
@import './dropdown';
@import './modals';
@import './tables';
@import './utilities';
@import './header.scss';
@import './sidebar.scss';
@import './login.scss';
@import './select2.scss';
@import './tooltip';
@import './custom.scss';
@import './intlTelInput.scss';
